.user-image-card {
  width: 21%;
  transition: transform 0.2s;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
  text-align: center;
  cursor: pointer;

  .img-thumbnail {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }

  &:hover {
    transform: translateY(-5px);
  }
}

.user-details-card {
  width: 35%;
  transition: transform 0.2s;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  &:hover {
    transform: translateY(-5px);
  }

  .card-body {
    .card-title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      font-weight: bold;
      text-align: center;
    }

    .list-group-item {
      font-size: 1rem;
      text-align: center;
    }

    .btn {
      &.modifica {
        background-color: #114384;
        color: white;
      }

      &.elimina {
        background-color: #65A0C0;
        color: white;
      }
    }
  }
}

.appointment-card {
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  margin-bottom: 20px;

  &:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }

  .card-subtitle {
    font-size: 1rem;
    color: #777;
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 0.875rem;
    color: #555;
    margin-bottom: 15px;
  }

  .btn {
    &.modifica {
      background-color: #114384;
      color: white;
    }

    &.elimina {
      background-color: #65A0C0;
      color: white;
    }
  }
}

.modal-header, .modal-footer {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e9ecef;
  border-top: 1px solid #e9ecef;
}

.modal-title {
  color: #114384;
}

.btn-close {
  color: #114384;
}

.btn-secondary {
  background-color: #65A0C0;
  border-color: #65A0C0;
}

.btn-primary {
  background-color: #114384;
  border-color: #114384;
}

.file-input {
  display: none;
}

.bi, .bi-pencil {
  color: #114384;
}

@media (max-width: 768px) {
  .user-image-card {
    display: none;
  }

  .user-details-card {
    max-width: 58%;
    margin: 0 auto;
  }

  @media (max-width: 760px) {
    .user-details-card {
      margin: 0 auto;
      max-width: 94%;
    }
  }

  @media (max-width: 1200px) {
    .user-image-card{
      width: 21%;
      margin-bottom: 20px;
    }
    .user-details-card {
      width: 50%;
      margin-bottom: 20px;
    }
    .img-thumbnail{
      height: 100px;
    }
  }

  @media (max-width: 992px) {
    .user-image-card{
      display: none;
    }
    .user-details-card {
      width: 100%;
      margin-bottom: 20px;

    }
  }
}
