<div *ngIf="currentProfessional" class="d-flex justify-content-center mt-5">
  <div class="card" style="width: 30%">
    <div class="card-body d-flex flex-column">

      <!-- Nome e Cognome -->
      <div class="mb-3">
        <h5 class="card-title">{{ currentProfessional.firstName }} {{ currentProfessional.lastName }}</h5>
      </div>

      <!-- Foto e Change Avatar -->
      <div class="d-flex mb-3">
        <img [src]="avatar || '../../../assets/defaultpng.png'" alt="Avatar" class="img-thumbnail" style="width: 150px; height: 150px;">
        <button class="btn btn-outline-secondary ms-3 p-2 align-self-start " (click)="triggerFileInput()">
          <i class="bi bi-pencil text-black"></i>
        </button>
        <input type="file" id="fileInput" class="file-input" (change)="onFileSelected($event)">
      </div>

      <!-- Dati personali -->
      <div class="mb-3">
        <h6 class="card-subtitle mb-2 text-muted">{{ currentProfessional.specializzazione }}</h6>
        <p class="card-text">{{ currentProfessional.descrizione }}</p>
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-0">Città: {{ currentProfessional.city }}</li>
          <li class="list-group-item px-0">Email: {{ currentProfessional.email }}</li>
        </ul>
      </div>

      <!-- Bottoni di modifica ed elimina -->
      <div class="d-flex justify-content-end mt-3">
        <button class="btn modifica btn-sm me-2" (click)="openEditProfileModal()">Modifica</button>
        <button class="btn elimina btn-sm" (click)="openConfirmDeleteModal()">Elimina</button>
      </div>
    </div>
  </div>
</div>
<!-- Modale di modifica profilo -->
<ng-template #editProfileModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modifica Profilo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="saveChanges()">
      <div class="mb-3">
        <label for="firstName" class="form-label">Nome</label>
        <input type="text" id="firstName" class="form-control" [(ngModel)]="currentProfessional.firstName" name="firstName" required>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Cognome</label>
        <input type="text" id="lastName" class="form-control" [(ngModel)]="currentProfessional.lastName" name="lastName" required>
      </div>
      <div class="mb-3">
        <label for="specializzazione" class="form-label">Specializzazione</label>
        <input type="text" id="specializzazione" class="form-control" [(ngModel)]="currentProfessional.specializzazione" name="specializzazione" required>
      </div>
      <div class="mb-3">
        <label for="descrizione" class="form-label">Descrizione</label>
        <textarea id="descrizione" class="form-control" [(ngModel)]="currentProfessional.descrizione" name="descrizione"></textarea>
      </div>
      <div class="mb-3">
        <label for="city" class="form-label">Città</label>
        <input type="text" id="city" class="form-control" [(ngModel)]="currentProfessional.city" name="city" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" class="form-control" [(ngModel)]="currentProfessional.email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="currentProfessional.password" name="password">
        <small class="form-text text-muted">Se non la cambi, viene mantenuta la precedente.</small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Annulla</button>
        <button type="submit" class="btn btn-primary" (click)="modal.dismiss()">Salva</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Modale di conferma eliminazione -->
<ng-template #confirmDeleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Conferma Eliminazione</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>Sei sicuro di voler eliminare il profilo di {{ currentProfessional.firstName }} {{ currentProfessional.lastName }}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Indietro</button>
    <button type="button" class="btn btn-danger" (click)="confirmDelete(); modal.dismiss() ;logout()">Conferma</button>
  </div>
</ng-template>

