.card {
  width: 50%;

  .card-body {
    flex-direction: column;

    .card-title {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .card-subtitle {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
    }

    .card-text {
      margin-bottom: 1rem;
    }

    .list-group-item {
      font-size: 0.875rem;
    }
  }

  .img-thumbnail {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
  }

  .btn {
    &.mt-2 {
      margin-top: 0.5rem;
    }

    &.mt-3 {
      margin-top: 1rem;
    }
  }
}

.file-input {
  display: none;
}
