<div *ngIf="currentUser" class="d-flex justify-content-center mt-5">
  <div class="card" style="width: 30%">
    <div class="card-body d-flex flex-column">

      <!-- Nome e Cognome -->
      <div class="mb-3">
        <h5 class="card-title">{{ currentUser.firstName }} {{ currentUser.lastName }}</h5>
      </div>

      <!-- Foto e Change Avatar -->
      <div class="d-flex mb-3">
        <img [src]="avatar || '../../../assets/defaultpng.png'" alt="Avatar" class="img-thumbnail" style="width: 150px; height: 150px;">
        <button class="btn btn-outline-secondary ms-3 p-2 align-self-start rounded-circle" (click)="triggerFileInput()">
          <i class="bi bi-pencil text-black"></i>
        </button>
        <input type="file" id="fileInput" class="file-input" (change)="onFileSelected($event)">
      </div>

      <!-- Dati personali -->
      <div class="mb-3">
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-0">Città: {{ currentUser.city }}</li>
          <li class="list-group-item px-0">Email: {{ currentUser.email }}</li>
        </ul>
      </div>

      <!-- Bottoni di modifica ed elimina -->
      <div class="d-flex justify-content-end mt-3">
        <button class="btn btn-sm me-2 modifica" (click)="openEditProfileModal()">Modifica</button>
        <button class="btn btn-sm elimina" (click)="openConfirmDeleteModal()">Elimina</button>
      </div>
    </div>
  </div>
</div>

<!-- Appuntamenti utente -->
<div *ngIf="appointments.length; else noAppointments" class="d-flex justify-content-center mt-5">
  <div class="card w-75">
    <div class="card-body">
      <h3 class="text-center">I Miei Appuntamenti</h3>
      <div *ngFor="let appointment of appointments" class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Appuntamento con {{ appointment.professionista.firstName }} {{ appointment.professionista.lastName }}</h5>
          <p class="card-text">Specializzato in: {{ appointment.professionista.specializzazione }}</p>
          <p class="card-text">Data: {{ appointment.dataPrenotazione }}</p>
          <p class="card-text">Ora: {{ appointment.oraPrenotazione }}</p>
          <p class="card-text">Confermato: {{ appointment.confermato ? 'Sì' : 'No' }}</p>
          <div class="d-flex justify-content-end">
            <button class="btn modifica btn-sm me-2" (click)="openEditAppointmentModal(appointment)">Modifica</button>
            <button class="btn elimina btn-sm" (click)="confirmDeleteAppointment(appointment.id)">Elimina</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noAppointments>
  <div class="d-flex justify-content-center mt-5">
    <div class="alert alert-info text-center w-75" role="alert">
      Non hai appuntamenti prenotati.
    </div>
  </div>
</ng-template>

<!-- Modale di modifica profilo -->
<ng-template #editProfileModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modifica Profilo</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="saveChanges()">
      <div class="mb-3">
        <label for="firstName" class="form-label">Nome</label>
        <input type="text" id="firstName" class="form-control" [(ngModel)]="currentUser.firstName" name="firstName" required>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Cognome</label>
        <input type="text" id="lastName" class="form-control" [(ngModel)]="currentUser.lastName" name="lastName" required>
      </div>
      <div class="mb-3">
        <label for="city" class="form-label">Città</label>
        <input type="text" id="city" class="form-control" [(ngModel)]="currentUser.city" name="city" required>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" id="email" class="form-control" [(ngModel)]="currentUser.email" name="email" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="currentUser.password" name="password">
        <small class="form-text text-muted">Se non la cambi, viene mantenuta la precedente.</small>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Annulla</button>
        <button type="submit" class="btn btn-primary" (click)="modal.dismiss()">Salva</button>
      </div>
    </form>
  </div>
</ng-template>

<!-- Modale di conferma eliminazione -->
<ng-template #confirmDeleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Conferma Eliminazione</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>Sei sicuro di voler eliminare il profilo di {{ currentUser.firstName }} {{ currentUser.lastName }}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Indietro</button>
    <button type="button" class="btn btn-danger" (click)="confirmDelete(); modal.dismiss() ;logout()">Conferma</button>
  </div>
</ng-template>


<!-- Modale per modificare l'appuntamento -->
<ng-template #editAppointmentModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modifica Appuntamento</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="saveAppointmentChanges()">
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">Data</label>
        <input type="date" id="date" class="form-control" [(ngModel)]="selectedAppointment!.dataPrenotazione" name="date" required>
      </div>
      <div class="mb-3">
        <label for="time" class="form-label">Ora</label>
        <input type="time" id="time" class="form-control" [(ngModel)]="selectedAppointment!.oraPrenotazione" name="time" required>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Annulla</button>
        <button *ngIf="!errorMessage" type="submit" class="btn btn-primary">Salva</button>
      </div>
    </form>
  </div>
</ng-template>


<!-- Modale per confermare la cancellazione -->
<ng-template #confirmDeleteModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Conferma Eliminazione</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <p>Sei sicuro di voler eliminare questo appuntamento?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Annulla</button>
    <button type="button" class="btn btn-danger" (click)="modal.close('delete')">Elimina</button>
  </div>
</ng-template>



