<div class="container mt-5">
  <h2 class="text-center mb-4">I Nostri Medici:</h2>
  <div class="row mb-4">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Cerca per città" [(ngModel)]="searchCity" (ngModelChange)="onSearch()">
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Cerca per specializzazione" [(ngModel)]="searchSpecializzazione" (ngModelChange)="onSearch()">
    </div>
  </div>
  <div class="row" *ngIf="professionistiFiltrati.length > 0; else noResults">
    <div class="col-12" *ngFor="let professionista of professionistiFiltrati">
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3 d-flex flex-column align-items-center">
              <div class="user-image-card">
                <img [src]="professionista.avatar || '../../../assets/defaultpng.png'" alt="Avatar" class="img-thumbnail mb-3">
              </div>
            </div>
            <div class="col-md-7">
              <h5 class="card-title">{{ professionista.firstName }} {{ professionista.lastName }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{ professionista.specializzazione }}</h6>
              <p class="card-text">{{ professionista.descrizione }}</p>
              <ul class="list-group list-group-flush w-100">
                <li class="list-group-item">Città: {{ professionista.city }}</li>
                <li class="list-group-item">Email: {{ professionista.email }}</li>
              </ul>
            </div>
            <div class="col-md-2 d-flex align-items-center justify-content-end">
              <button *ngIf="isLoggedIn" class="btn btn-primary" (click)="openAppointmentModal(professionista)">Contatta</button>
              <button *ngIf="!isLoggedIn" class="btn btn-secondary" (click)="redirectToHome()">Accedi per prenotare</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noResults>
    <div class="alert alert-info w-100 text-center" role="alert">
      Non ci sono professionisti per questa ricerca.
    </div>
  </ng-template>
</div>


<!-- Modale per prenotare un appuntamento -->
<ng-template #appointmentModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Prenota un Appuntamento con {{ selectedProfessional?.firstName }} {{ selectedProfessional?.lastName }}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="bookAppointment()">
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">Data</label>
        <input type="date" id="date" class="form-control" [(ngModel)]="appointment.dataPrenotazione" name="date" required>
      </div>
      <div class="mb-3">
        <label for="time" class="form-label">Ora</label>
        <input type="time" id="time" class="form-control" [(ngModel)]="appointment.oraPrenotazione" name="time" required>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Descrizione</label>
        <textarea id="description" class="form-control" [(ngModel)]="appointment.descrizione" name="description" required></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Annulla</button>
        <button type="submit" class="btn btn-primary">Prenota</button>
      </div>
    </form>
  </div>
</ng-template>
