.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #114384; // Cambia questo colore secondo il tuo design
  padding: 20px 0;

  .col-md-4 {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-link img.logo {
    max-width: 180px; // Dimensione del logo
    margin-right: 10px;
  }

  .text-white {
    font-size: 0.9rem;
  }

  .nav {
    margin-top: 10px;

    li {
      margin-left: 15px;

      a {
        color: #6c757d;
        font-size: 1.2rem;

        &:hover {
          color: #000;
        }
      }
    }
  }
}
