<nav class="navbar navbar-expand-sm ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="../../../assets/1.png" alt="Logo" class="logo">
    </a>
    <button class="navbar-toggler bg-white" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarSupportedContent" aria-expanded="!isNavbarCollapsed" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
        <li class="nav-item" *ngIf="!isUserLoggedIn">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a class="nav-link" routerLink="/utenti">Profilo</a>
        </li>
        <li class="nav-item" *ngIf="isUserLoggedIn">
          <a class="nav-link" routerLink="/professionisti">Professionisti</a>
        </li>
      </ul>
      <span class="me-2 text-white" *ngIf="isUserLoggedIn">
        <i class="bi bi-person-circle me-2"></i> {{ userName }}
      </span>
      <button (click)="logout()" *ngIf="isUserLoggedIn" class="btn btn-danger">Esci</button>
    </div>
  </div>
</nav>
