<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>Registrazione</h2>
      <form (ngSubmit)="register()">
        <div class="mb-3">
          <label for="firstName" class="form-label">Nome</label>
          <input type="text" id="firstName" class="form-control" [(ngModel)]="registerUserData.firstName" name="firstName" required>
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Cognome</label>
          <input type="text" id="lastName" class="form-control" [(ngModel)]="registerUserData.lastName" name="lastName" required>
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" id="username" class="form-control" [(ngModel)]="registerUserData.username" name="username" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" id="email" class="form-control" [(ngModel)]="registerUserData.email" name="email" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" id="password" class="form-control" [(ngModel)]="registerUserData.password" name="password" required>
        </div>
        <div class="mb-3">
          <label for="città" class="form-label">Città</label>
          <input type="text" id="città" class="form-control" [(ngModel)]="registerUserData.city" name="città" required>
        </div>
        {{registerUserData.city}}
        <div class="mb-3 form-check">
          <input type="checkbox" id="isProfessionista" class="form-check-input" [(ngModel)]="isProfessionista" name="isProfessionista">
          <label for="isProfessionista" class="form-check-label">Sono un Professionista</label>
        </div>
        <div *ngIf="isProfessionista">
          <div class="mb-3">
            <label for="Specializzazione" class="form-label">Specializzazione</label>
            <input type="text" id="specializzazione" class="form-control" [(ngModel)]="registerProfessionistaData.specializzazione" name="specializzazione">
          </div>
          <div class="mb-3">
            <label for="descrizione" class="form-label">Descrizione</label>
            <textarea id="descrizione" class="form-control" [(ngModel)]="registerProfessionistaData.descrizione" name="descrizione"></textarea>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Registrati</button>
        <div *ngIf="errorMessage" class="alert alert-danger mt-3">
          {{ errorMessage }}
        </div>
      </form>
    </div>
  </div>
</div>
