<div class="container my-5 min-vh-100">
  <h2 class="text-center mb-4 color">Domande frequenti:</h2>
  <div ngbAccordion>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Di cosa si occupa il nostro sito?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <p>
              Lo scopo del sito è quello di dare la possibilità di mettersi in contatto con dei professionisti della sanità e fissare degli appuntamenti che vengono confermati tramite email.
            </p>
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Cosa posso fare nel sito se non sono registrato?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <p>
              Se non sei registrato hai la possibilità di vedere la lista dei professionisti registrati al sito. Nel caso qualcuno di loro soddisfi le tue necessità puoi cliccare sul bottone Accedi per prenotare e verrai reindirizzato alla home.
            </p>
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Come funziona la prenotazione degli appuntamenti?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <p>
              Una volta loggato clicca su professionisti e scegli quello che fa al caso tuo e poi clicca su contatta. Gli appuntamenti possono essere prenotati dalle 9 alle 17 dal lunedì al venerdì e solo se non ci sono altri appuntamenti per quell'ora in quel giorno.
            </p>
          </ng-template>
        </div>
      </div>
    </div>
    <div ngbAccordionItem>
      <h2 ngbAccordionHeader>
        <button ngbAccordionButton>Cosa succede quando prenoto un appuntamento?</button>
      </h2>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            <p>
              Il professionista riceve una mail con un link che se cliccato conferma l'appuntamento.
            </p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
